<div class="{{banner}}"></div>
</div>
<div class="content">
    <div class="container">
        <div class="col-md-4 w3ls_dresses_grid_left">
            <form method="GET" action="/products/searchProduct">
                <div class="w3ls_dresses_grid_left_grid">
                    <h3>Thương hiệu</h3>
                    <div class="w3ls_dresses_grid_left_grid_sub">
                        <div class="ecommerce_dres-type">
                            <form action="#">
                                <p>
                                    <input type="radio" class="r" id="brand0" value="Tất cả" name="radio-group1"
                                        checked>
                                    <label class="radiotext" for="brand0">Tất cả</label>
                                </p>
                                <p>
                                    <input type="radio" id="brand1" value="levis" name="radio-group1">
                                    <label class="radiotext" for="brand1">levis</label>
                                </p>
                                <p>
                                    <input type="radio" id="brand2" name="radio-group">
                                    <label class="radiotext" for="brand2">Adidas</label>
                                </p>
                                <p>
                                    <input type="radio" id="brand3" name="radio-group">
                                    <label class="radiotext" for="brand3">Nike</label>
                                </p>
                                <p>
                                    <input type="radio" id="brand4" name="radio-group">
                                    <label class="radiotext" for="brand4">Grimm DC</label>
                                </p>
                                <p>
                                    <input type="radio" id="brand5" name="radio-group">
                                    <label class="radiotext" for="brand5">5theway</label>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w3ls_dresses_grid_left_grid">
                    <h3>Màu sắc</h3>
                    <div class="w3ls_dresses_grid_left_grid_sub">
                        <div class="ecommerce_color">
                            <form action="#">
                                <p>
                                    <input type="radio" class="r" id="color0" name="radio-group" checked>
                                    <label class="radiotext" for="color0">Tất cả</label>
                                </p>
                                <p>
                                    <input type="radio" id="color1" name="radio-group">
                                    <label class="radiotext" for="color1">Đỏ</label>
                                </p>
                                <p>
                                    <input type="radio" id="color2" name="radio-group">
                                    <label class="radiotext" for="color2">Cam</label>
                                </p>
                                <p>
                                    <input type="radio" id="color3" name="radio-group">
                                    <label class="radiotext" for="color3">Vàng</label>
                                </p>
                                <p>
                                    <input type="radio" id="color4" name="radio-group">
                                    <label class="radiotext" for="color4">Lục</label>
                                </p>
                                <p>
                                    <input type="radio" id="color5" name="radio-group">
                                    <label class="radiotext" for="color5">Lam</label>
                                </p>
                                <p>
                                    <input type="radio" id="color6" name="radio-group">
                                    <label class="radiotext" for="color6">Chàm</label>
                                </p>
                                <p>
                                    <input type="radio" id="color7" name="radio-group">
                                    <label class="radiotext" for="color7">Tím</label>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w3ls_dresses_grid_left_grid">
                    <h3>Kích cỡ</h3>
                    <div class="w3ls_dresses_grid_left_grid_sub">
                        <div class="ecommerce_color ecommerce_size">
                            <form action="#">
                                <p>
                                    <input type="radio" class="r" id="size0" name="radio-group" checked>
                                    <label class="radiotext" for="size0">tất cả</label>
                                </p>
                                <p>
                                    <input type="radio" class="r" id="size1" name="radio-group">
                                    <label class="radiotext" for="size1">Nhỏ</label>
                                </p>
                                <p>
                                    <input type="radio" id="size2" name="radio-group">
                                    <label class="radiotext" for="size2">Trung bình</label>
                                </p>
                                <p>
                                    <input type="radio" id="size3" name="radio-group">
                                    <label class="radiotext" for="size3">Lớn</label>
                                </p>
                                <p>
                                    <input type="radio" id="size4" name="radio-group">
                                    <label class="radiotext" for="size4">Rất lớn</label>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
            <div class="w3ls_dresses_grid_left_grid">
                <div class="dresses_img_hover">
                    <img src="{{imageOffer}}" alt=" " class="img-responsive" />
                    <div class="dresses_img_hover_pos">
                        <h4>Giảm giá đến<span>50%</span><i>Giá trị</i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 women-dresses">
            <div class="women-set1" id="searchWithKeyword">
                {{#each Product}}
                <div class="col-md-4 women-grids wp1 animated wow slideInUp cartProduct" data-wow-delay=".5s">
                    <a href="/products/viewproduct/{{this._id}}">
                        <div class="product-img">
                            <img src="{{this.imgSrc}}" alt="" />
                            <div class="p-mask">
                                <form action="/products/viewproduct/{{this._id}}" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls1_item" value="Casual shirt" />
                                    <input type="hidden" name="amount" value="50.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus"
                                            id="addToCart" aria-hidden="true"></i> Xem chi tiết sản phẩm</button>
                                </form>
                            </div>
                        </div>
                    </a>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                    <h4>{{this.ten}}</h4>
                    <h5>{{this.gia}}</h5>
                </div>
                {{/each}}
                <div class="clearfix"></div>
            </div>
        </div>
        
    </div>
</div>


<script>
    $('#search').keyup(function () {
        var search = document.getElementById("search")
        $.getJSON('/API/product/searchKeyword?search=' + $('#search').val(), function (data, res) {
            if (!data) {
                console.log('deo co data')
                $('#error-message').html('Email đã tồn tại. Vui lòng chọn email khác.');
            }
            else {
                var source = $('#searchWithKeyword');
                source.empty();
                $.each(data, function (i, database) {
                    source.append('<div class="col-md-4 women-grids wp1 animated wow slideInUp cartProduct" data-wow-delay=".5s"><a href="/products/viewproduct/' + database._id + '"><div class="product-img"><img src="' + database.imgSrc + '" alt="" /><div class="p-mask"><form action="/products/viewproduct/' + database._id + '" method="post"><input type="hidden" name="cmd" value="_cart" /><input type="hidden" name="add" value="1" /><input type="hidden" name="w3ls1_item" value="Casual shirt" /><input type="hidden" name="amount" value="50.00" /><button type="submit" class="w3ls-cart pw3ls-cart" id="addToCart"><a href="/products/viewproduct/' + database._id + '" class="addToCartStyle"><i class="fa fa-cart-plus" aria-hidden="true"></i> Xem chi tiết sản phẩm</a></button></form></div></div></a><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star gray-star" aria-hidden="true"></i><h4>' + database.ten + '</h4><h5>' + database.gia + '</h5></div>')
                })
            }
        }
        )
    })
</script>
<script>
    var brand, color, size;
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            brand = $("input[name='radio-group1']:checked").val();
            if (brand) {
                if (brand != "Tất cả") {
                    console.log(brand);
                }
            }
        });

    });
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            color = $("input[name='radio-group2']:checked").val();
            if (color) {
                if (color != "Tất cả") {
                    console.log(color);
                }
            }
        });

    });
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            size = $("input[name='radio-group3']:checked").val();
            if (size) {
                if (size != "Tất cả") {
                    console.log(size);
                }
            }
        });

    });
</script>
<script>
    var brand, color, size;
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            brand = $("input[name='radio-group1']:checked").val();
            if (brand) {
                if (brand != "Tất cả") {
                    console.log("brand:" + brand);
                    $.getJSON('/API/product/searchBrand?search=' + brand, function (data, res) {
                        if (!data) {
                            console.log('deo co data')
                        }
                        else {
                            console.log(data)
                            var source = $('#searchWithKeyword');
                            source.empty();
                            $.each(data, function (i, database) {
                                source.append('<div class="col-md-4 women-grids wp1 animated wow slideInUp cartProduct" data-wow-delay=".5s"><a href="/products/viewproduct/' + database._id + '"><div class="product-img"><img src="' + database.imgSrc + '" alt="" /><div class="p-mask"><form action="/products/viewproduct/' + database._id + '" method="post"><input type="hidden" name="cmd" value="_cart" /><input type="hidden" name="add" value="1" /><input type="hidden" name="w3ls1_item" value="Casual shirt" /><input type="hidden" name="amount" value="50.00" /><button type="submit" class="w3ls-cart pw3ls-cart" id="addToCart"><a href="/products/viewproduct/' + database._id + '" class="addToCartStyle"><i class="fa fa-cart-plus" aria-hidden="true"></i> Xem chi tiết sản phẩm</a></button></form></div></div></a><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star gray-star" aria-hidden="true"></i><h4>' + database.ten + '</h4><h5>' + database.gia + '</h5></div>')
                            })
                        }
                    })
                }
            }
        });

    });
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            color = $("input[name='radio-group2']:checked").val();
            if (color) {
                if (color != "Tất cả") {
                    console.log("color:" + color);
                    $.getJSON('/API/product/searchColor?search=' + color, function (data, res) {
                        if (!data) {
                            console.log('deo co data')
                            $('#error-message').html('Email đã tồn tại. Vui lòng chọn email khác.');
                        }
                        else {

                            $('#error-message').html(data.length);
                            var source = $('#searchWithKeyword');
                            source.empty();
                            $.each(data, function (i, database) {
                                source.append('<div class="col-md-4 women-grids wp1 animated wow slideInUp cartProduct" data-wow-delay=".5s"><a href="/products/viewproduct/' + database._id + '"><div class="product-img"><img src="' + database.imgSrc + '" alt="" /><div class="p-mask"><form action="/products/viewproduct/' + database._id + '" method="post"><input type="hidden" name="cmd" value="_cart" /><input type="hidden" name="add" value="1" /><input type="hidden" name="w3ls1_item" value="Casual shirt" /><input type="hidden" name="amount" value="50.00" /><button type="submit" class="w3ls-cart pw3ls-cart" id="addToCart"><a href="/products/viewproduct/' + database._id + '" class="addToCartStyle"><i class="fa fa-cart-plus" aria-hidden="true"></i> Xem chi tiết sản phẩm</a></button></form></div></div></a><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star gray-star" aria-hidden="true"></i><h4>' + database.ten + '</h4><h5>' + database.gia + '</h5></div>')
                            })
                        }
                    }
                    )
                }
            }
        });

    });
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            size = $("input[name='radio-group3']:checked").val();
            if (size) {
                if (size != "Tất cả") {
                    console.log("size:" + size);
                    $.getJSON('/API/product/searchSize?search=' + size, function (data, res) {
                        if (!data) {
                            console.log('deo co data')
                            $('#error-message').html('Email đã tồn tại. Vui lòng chọn email khác.');
                        }
                        else {
                            $('#error-message').html(data.length);
                            var source = $('#searchWithKeyword');
                            source.empty();
                            $.each(data, function (i, database) {
                                source.append('<div class="col-md-4 women-grids wp1 animated wow slideInUp cartProduct" data-wow-delay=".5s"><a href="/products/viewproduct/' + database._id + '"><div class="product-img"><img src="' + database.imgSrc + '" alt="" /><div class="p-mask"><form action="/products/viewproduct/' + database._id + '" method="post"><input type="hidden" name="cmd" value="_cart" /><input type="hidden" name="add" value="1" /><input type="hidden" name="w3ls1_item" value="Casual shirt" /><input type="hidden" name="amount" value="50.00" /><button type="submit" class="w3ls-cart pw3ls-cart" id="addToCart"><a href="/products/viewproduct/' + database._id + '" class="addToCartStyle"><i class="fa fa-cart-plus" aria-hidden="true"></i> Xem chi tiết sản phẩm</a></button></form></div></div></a><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star yellow-star" aria-hidden="true"></i><i class="fa fa-star gray-star" aria-hidden="true"></i><h4>' + database.ten + '</h4><h5>' + database.gia + '</h5></div>')
                            })
                        }
                    }
                    )
                }
            }
        });

    });
</script>