<div class="{{banner}}"></div>
</div>
<div class="content">
    <div class="container">
        <div class="col-md-4 w3ls_dresses_grid_left">
            <div class="w3ls_dresses_grid_left_grid">
                <h3>Thương hiệu</h3>
                <div class="w3ls_dresses_grid_left_grid_sub">
                    <div class="ecommerce_dres-type">
                        <form action="#">
                            <p>
                                <input type="radio" class="r" id="brand0" name="radio-group" checked>
                                <label class="radiotext" for="brand0">Tất cả</label>
                            </p>
                            <p>
                                <input type="radio" id="brand1" name="radio-group">
                                <label class="radiotext" for="brand1">Levi's</label>
                            </p>
                            <p>
                                <input type="radio" id="brand2" name="radio-group">
                                <label class="radiotext" for="brand2">Adidas</label>
                            </p>
                            <p>
                                <input type="radio" id="brand3" name="radio-group">
                                <label class="radiotext" for="brand3">Nike</label>
                            </p>
                            <p>
                                <input type="radio" id="brand4" name="radio-group">
                                <label class="radiotext" for="brand4">Grimm DC</label>
                            </p>
                            <p>
                                <input type="radio" id="brand5" name="radio-group">
                                <label class="radiotext" for="brand5">5theway</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="w3ls_dresses_grid_left_grid">
                <h3>Màu sắc</h3>
                <div class="w3ls_dresses_grid_left_grid_sub">
                    <div class="ecommerce_color">
                        <form action="#">
                            <p>
                                <input type="radio" class="r" id="color0" name="radio-group" checked>
                                <label class="radiotext" for="color0">Tất cả</label>
                            </p>
                            <p>
                                <input type="radio" id="color1" name="radio-group">
                                <label class="radiotext" for="color1">Đỏ</label>
                            </p>
                            <p>
                                <input type="radio" id="color2" name="radio-group">
                                <label class="radiotext" for="color2">Cam</label>
                            </p>
                            <p>
                                <input type="radio" id="color3" name="radio-group">
                                <label class="radiotext" for="color3">Vàng</label>
                            </p>
                            <p>
                                <input type="radio" id="color4" name="radio-group">
                                <label class="radiotext" for="color4">Lục</label>
                            </p>
                            <p>
                                <input type="radio" id="color5" name="radio-group">
                                <label class="radiotext" for="color5">Lam</label>
                            </p>
                            <p>
                                <input type="radio" id="color6" name="radio-group">
                                <label class="radiotext" for="color6">Chàm</label>
                            </p>
                            <p>
                                <input type="radio" id="color7" name="radio-group">
                                <label class="radiotext" for="color7">Tím</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="w3ls_dresses_grid_left_grid">
                <h3>Kích cỡ</h3>
                <div class="w3ls_dresses_grid_left_grid_sub">
                    <div class="ecommerce_color ecommerce_size">
                        <form action="#">
                            <p>
                                <input type="radio" class="r" id="size0" name="radio-group" checked>
                                <label class="radiotext" for="size0">tất cả</label>
                            </p>
                            <p>
                                <input type="radio" class="r" id="size1" name="radio-group">
                                <label class="radiotext" for="size1">Nhỏ</label>
                            </p>
                            <p>
                                <input type="radio" id="size2" name="radio-group">
                                <label class="radiotext" for="size2">Trung bình</label>
                            </p>
                            <p>
                                <input type="radio" id="size3" name="radio-group">
                                <label class="radiotext" for="size3">Lớn</label>
                            </p>
                            <p>
                                <input type="radio" id="size4" name="radio-group">
                                <label class="radiotext" for="size4">Rất lớn</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <input type="button" class="btn1 btn-outline-secondary" value="Áp dụng">
            <div class="w3ls_dresses_grid_left_grid">
                <div class="dresses_img_hover">
                    <img src="{{imageOffer}}" alt=" " class="img-responsive" />
                    <div class="dresses_img_hover_pos">
                        <h4>Giảm giá đến<span>50%</span><i>Giá trị</i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 women-dresses">
            <div class="women-set1">
                {{#each Product}}
                <div class="col-md-4 women-grids wp1 animated wow slideInUp cartProduct" data-wow-delay=".5s">
                    <a href="/products/men/{{this._id}}">
                        <div class="product-img">
                            <img src="{{this.imgSrc}}" alt="" />
                            <div class="p-mask">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls1_item" value="Casual shirt" />
                                    <input type="hidden" name="amount" value="50.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus"
                                            aria-hidden="true"></i> Thêm vào giỏ hàng</button>
                                </form>
                            </div>
                        </div>
                    </a>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                    <h4>{{this.ten}}</h4>
                    <h5>{{this.gia}}</h5>
                </div>
                {{/each}}
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="pagination col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  ">
                <a id="prev">❮❮</a>
                <a id="page1" class="active">{{page}}</a>
                <a id="page2"></a>
                <a id="page3"></a>
                <a id="next">❯❯</a>
            </div>
    </div>
</div>
<script>
    var page1 = parseInt($('#page1').html());
    var page2 = page1 + 1;
    var page3 = page1 + 2;
    var test = $('#search1').val()
    $('#page2').html(page2);
    $('#page3').html(page3);
        $('#search').val(test);

    $('#page1').click(function () {
        $('#page1').addClass('active');
        $('#page2').removeClass('active');
        $('#page3').removeClass('active');
        $('#page1').attr("href", "/products/searchProduct/search={{text}}/" + page1);
        $('#page1').html(page1);
        $('#page2').html(page2);
        $('#page3').html(page3);
    });
    $('#page2').click(function () {
        $('#page1').removeClass('active');
        $('#page2').addClass('active');
        $('#page3').removeClass('active');
        $('#page2').attr("href", "/products/searchProduct/search={{text}}/" + page2);
        $('#page1').html(page1);
        $('#page2').html(page2);
        $('#page3').html(page3);
    });
    $('#page3').click(function () {
        $('#page1').removeClass('active');
        $('#page2').removeClass('active');
        $('#page3').addClass('active');
        $('#page3').attr("href", "/products/searchProduct/search={{text}}/" + page3);
        $('#page1').html(page1);
        $('#page2').html(page2);
        $('#page3').html(page3);
    });
    $('#next').click(function () {
        page1 += 3;
        page2 += 3;
        page3 += 3;
        $('#page1').addClass('active');
        $('#page2').removeClass('active');
        $('#page3').removeClass('active');
        $('#next').attr("href", "/products/searchProduct/search={{text}}/" + page1);
        $('#page1').html(page1);
        $('#page2').html(page2);
        $('#page3').html(page3);
    });
    $('#prev').click(function () {
        if (page1 <= 3) {
            page1 = 1;
            page2 = 2;
            page3 = 3;
            $('#page1').addClass('active');
            $('#page2').removeClass('active');
            $('#page3').removeClass('active');
            $('#prev').attr("href", "/products/searchProduct/search={{text}}/" + page1);
            $('#page1').html(page1);
            $('#page2').html(page2);
            $('#page3').html(page3);
        } else {
            page1 -= 3;
            page2 -= 3;
            page3 -= 3;
            $('#page1').addClass('active');
            $('#page2').removeClass('active');
            $('#page3').removeClass('active');
            $('#prev').attr("href", "/products/searchProduct/search={{text}}/" + page1);
            $('#page1').html(page1);
            $('#page2').html(page2);
            $('#page3').html(page3);
        }
    });
</script>